/* <!--@author- Naman Khandelwal --> */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  height: 100%;
  width: 100%;
  background-color: #111927;
  background-image: radial-gradient(at 47% 33%, hsl(162, 77%, 40%) 0, transparent 59%),
                    radial-gradient(at 82% 65%, hsl(218, 39%, 11%) 0, transparent 55%);
}
.main {
  display: block;
  width: 77%;
  margin: auto;
}
footer div{
  color: white;
  text-align: center;
  padding: 5px;
  font-size: clamp(0.7rem, 2vw, 1rem);
  position: fixed;
  bottom: 0;
  width: 100%;
 
}
header h1 {
  color: #ffffff;
  font-size: clamp(1.5rem, 4vw, 2.2rem);
  text-align: center;
  margin-bottom: 50px;
}
.title1{
  color: #ffffff;
  font-size: clamp(1.2rem, 4vw, 2rem);
  position: absolute;
  text-align: center;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.temperature-converter {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90px 30px 20px;
}
.result {
  min-width: 360px;
  height: auto;
  text-align: center;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  height: 450px;
  width: auto;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.795);
  flex-wrap: wrap;
}
.result-heading {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
}
.celsius-value {
  border-bottom: 2px solid #ffffff;
  padding: 10px;
  color: white;
  font-size: 1.7rem;
}
label {
  color: white;
  font-size: clamp(1rem, 2vw, 1.5rem);
  margin-bottom: 15px;
}
input,
select {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid white;
  margin-bottom: 15px;
  font-size: 18px;
  text-align: center;
  color: white;
}
::placeholder {
  color: white;
}
.degree-type {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8px 0;
  margin: auto;
  font-size: 1.6rem;
}
#degree {
  width: 30%;
}
option {
  background-color: rgba(255, 255, 255, 0.726);
  color: rgb(0, 0, 0);
  height: 55px;
}
#convert-btn {
  background: linear-gradient(to bottom right, #78f082c0, #0fb96a93);
  border: none;
  outline: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-top: 40px;
  padding: 12px 70px;
  transition: all 0.3s ease-in;
}
#convert-btn:hover {
  background: linear-gradient(to bottom right, #47e76fd5, #73da2fd7);
}
@media (max-width: 620px) {
  .container {
    width: 100%;
  }
  .degree-type {
    flex-direction: column;
  }
}